* {
    font-family: 'Roboto', san-serif;
}

nav {
    height: 53px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu-link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu-item {
    border-right: 3px dotted black;
    padding-right: 29px;
}

.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
    display: flex;
    margin-top: 16px;
}

.subheader_official {
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 6px;
}

.subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 19px;
}

.subheader_phone {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 14px;
    text-align: right;
}

.subheader_btn {
    margin-top: 21px;
    width: 172px;
    height: 46px;
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}