@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate.min';

@import 'base/variables';
@import 'base/animation'; 
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

 .container {
    min-width: 950px;
    margin: 0 auto;
 }
 @import 'blocks/promo';
 @import 'blocks/header';
 @import 'blocks/button'; 
 @import 'blocks/advantages'; 
 @import 'blocks/consultation'; 
 @import 'blocks/title'; 
 @import 'blocks/forms'; 
 @import 'blocks/carousel'; 
 @import 'blocks/catalog';
 @import 'blocks/footer'; 
 @import 'blocks/modal'; 
 @import 'blocks/pageup'; 
 