# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
css/32/css/style.min.css.map
PULS/src/css/style.min.css.map
css/32/css/style.min.css.map
GRID_NEWS/css/style.min.css
css/32/css/style.min.css.map
~$Копия Расчетный лист-ноябрь 2017.xlsx
