.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: darkorange;
}

.dialog {
  padding: 2px;
}

.messages {
  padding: 10px;
}

.message {
  padding: 2px;
}
