.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 'h h'
  'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 94px 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background: #37aefe;
}

.header {
  grid-area: h;
  background: #fb5631;
  border: #68685e 1px solid;
}



.nav {
  grid-area: n;
  
}

