.carousel
    padding: 25px 0 20px 0
    &__header
        font-weight: 700
        font-size: 30px
        text-align: center
    &__inner
        width: 1000px
        margin: 0 auto
        img
            display: block
            // margin: 0 auto
            // min-width: 100%
            // margin: 0 auto
            width: 75%
            //width: 350px
            height: 300px
            cursor: pointer
            
    .slick-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -86px
        border: none
        background-color: #fff
        img
            width: 31px
            height: 50px
    .slick-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: -86px
        border: none
        background-color: #fff
        img
            width: 31px
            height: 50px
    &__block
        display: flex
        flex-direction: column
        &__old-price
            font-weight: 700
            font-size: 22px
            text-decoration-line: line-through
            color: #555555
            text-align: center
            color: $main-color
        &__price
            font-weight: 700
            font-size: 25px
            
            color: #555555
            text-align: center
            color: #39c647

            
    &__descr
        
        text-align: center
        font-size: 16px
        cursor: pointer
        transition: 0.5s all
        &:hover
            text-shadow: 3px 3px 30px $main-color
            
        span
            font-weight: 700
            font-size: 25px
            color: $main-color
            
            