* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d0c0c;
  color: white;
  font-weight: 300;
}

.header {
  padding: 40px 100px;
  background-color: #0d0c0c;
  font-weight: 60;
}

main {
  margin: 50px 100px;
  width: 50px;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

main .user {
  margin-bottom: 30px;
  background-color: #0e719b;
  padding: 20px;
  width: 300px;
  font-size: 25px;
}
