.dialogs {
  display: grid;

  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems a {
  color: blue;
  text-decoration: none;
}

.dialogsItems .active {
  color: #cc3e44;
}

.messages {
  padding: 10px;
}
