.dialogs {
  display: grid;

  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color:#cc3e44;
}

.dialog {
}

.messeges {
  padding: 10px;
}

.message {
}
