@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    // .subheader_phone
    //     font-size: 18px
    .promo_header
        font-size: 55px
    .reasons_block
        align-items: flex-start
    .mobile_item
            width: 300px
    .footer_mobile
        font-size: 9px
@media (max-width: 991px)
    .menu
        &_item
            padding-right: 10px
        &_link
            font-size: 10px