.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs .dialogsItems {
    padding: 10px;
}

.active {
    color: chartreuse;
}



.dialogs .dialog {

}

.messeges {
    padding: 10px;
}

.messeges .messege {

}
